body {
    background-color: LightGray;
}

.shoes {
    text-align: center;
}


.center {
    width: 50%;
    margin: auto;

}

body {
    background-color: lightblue;
}

table,
th,
td {
    border: 2px solid black;
}